* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  gap: 50px;
}
svg.name {
  width: 1400px;
}
svg.name path {
  stroke-width: 3;
  stroke: #fff;
}
button.btn {
  border: none;
  background-color: transparent;
  font-size: 50px;
  color: #fff;
  border-bottom: 10px solid #fff;
  text-transform: uppercase;
  cursor: pointer;
}
