* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
#wrap {
 background-color: rgb(241, 241, 241);
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
 overflow: hidden;
}
.btn-wrap {
 display: flex;
 gap: 10px;
}
.menu.toggle {
 cursor: pointer;
 /* background-color: darkblue; */
 width: 30px;
 height: 20px;
 position: relative;
}
.menu.toggle span{
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all .3s;
    background-color: saddlebrown;
}
.menu.toggle span:nth-child(1){
    top: 0;
}
.menu.toggle span:nth-child(2){
    top: 48%;
}
.menu.toggle span:nth-child(3){
    top: 99%;
}

.box {
 width: 300px;
 height: 300px;
 background-color: yellow;
 font-size: 100px;
 text-align: center;
 align-content: center;
 transition: all 0.3s;
}
#wrap.toggle-box .box {
    opacity: 0;
    transform: translateX(100%);
}

#wrap.toggle-box .menu.toggle span:nth-child(1){
    transform: rotate(45deg);
    top: 48%;
}
#wrap.toggle-box .menu.toggle span:nth-child(2){
    transform: translateX(100%);
    opacity: 0;
}
#wrap.toggle-box .menu.toggle span:nth-child(3){
    top: 48%;
    transform: rotate(-45deg);
}