* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
#wrap {
 background-color: rgb(241, 241, 241);
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
 overflow: hidden;
}
.btn-wrap {
 display: flex;
 gap: 10px;
}
.menu {
 border: 1px solid #fff;
 padding: 0 20px;
 cursor: pointer;
}
.menu.open {
 background-color: yellow;
}
.menu.close {
 background-color: #000;
 color: yellow;
}
.box {
 width: 300px;
 height: 300px;
 background-color: yellow;
 font-size: 100px;
 text-align: center;
 align-content: center;
 transition: all 0.3s;
}
#wrap.close-box .box {
 opacity: 0;
 transform: translateX(100%);
}
#wrap.close-box .menu.open {
 background-color: #000;
 color: yellow;
}
#wrap.close-box .menu.close {
    background-color: yellow;
    color:#000
}