* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrap {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bg-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.bg-wrap > div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  transform: scale(1.3);
  opacity: 0;
}
.bg-wrap > div.active {
    opacity: 1;
}
.bg-wrap > div.bg1 {
  background-image: url(../img/1.jpeg);
}
.bg-wrap > div.bg2 {
  background-image: url(../img/2.jpeg);
}
.bg-wrap > div.bg3 {
  background-image: url(../img/3.jpeg);
}
.bg-wrap > div.bg4 {
  background-image: url(../img/4.jpeg);
}

.slider-wrap {
  width: 800px;
  height: 600px;
  /* background-color: aqua; */
  position: relative;
}
.callback-slider {
  height: 100%;
}
.callback-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
.callback-slider .swiper-slide.sl-1 {
  background-image: url(../img/1.jpeg);
}
.callback-slider .swiper-slide.sl-2 {
  background-image: url(../img/2.jpeg);
}
.callback-slider .swiper-slide.sl-3 {
  background-image: url(../img/3.jpeg);
}
.callback-slider .swiper-slide.sl-4 {
  background-image: url(../img/4.jpeg);
}

.callback-slider .swiper-slide h2 {
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 10px #00000050;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s 0.5s;
}
.callback-slider .swiper-slide p {
  max-width: 50%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  transform: translateY(50px);
  transition: all 0.3s 0.8s;
  opacity: 0;
}
.callback-slider .swiper-slide.swiper-slide-active h2 {
  opacity: 1;
  transform: translateY(0);
}
.callback-slider .swiper-slide.swiper-slide-active p {
  transform: translateY(0);
  opacity: 1;
}
.arrow {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff80;
}
.arrow svg {
  display: none;
}
.arrow.swiper-button-prev {
  left: -50px;
  background-image: url(../img/left.png);
}
.arrow.swiper-button-next {
  right: -50px;
  background-image: url(../img/right.png);
}
