*{margin: 0;padding:0;box-sizing: border-box;}

#container {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
svg{
    width: 500px;
    stroke-width: 2;
    fill:transparent

}

.star {
    stroke: rgb(0, 255, 85);
    stroke-dashoffset:0;
    stroke-dasharray: 1775;
}
.ico {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 255, 85);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -255px;
    margin-top: -255px;
    opacity: 0;
}